
/* Variables common to the whole application */

$theme-primary-color: #32681d;
$theme-primary-color--light: #619648;
$theme-primary-color--dark: #003d00;

$theme-secondary-color: #fff8e1;
$theme-secondary-color--light: #ffffff;
$theme-secondary-color--dark: #ccc5af;


